In [35]:
#import libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [36]:
#import data
data=pd.read_csv("C://Users//nidhi//Downloads//ICAO_accidents (1).csv")

In [37]:
data.head()

,Unnamed: 0,Date,StateOfOccurrence,Location,Model,Registration,Operator,StateOfOperator,StateOfRegistry,FlightPhase,...,InjuryLevel,TypeDesignator,Helicopter,Airplane,Engines,EngineType,Official,OccCats,Risk,Year
0,0.0,"""2008-01-02T00:00:00.000Z""",PHL,Masbate Airport (MBT),NAMC YS11 A,RP-C3592,Philippines Asian Spirit,PHL,PHL,Landing,...,None,YS11,NaN,True,2.0,Turboprop,True,"[""RE""]",RS,2008
1,1.0,"""2008-01-02T00:00:00.000Z""",IRN,Tehran-Mehrabad Airport (THR),FOKKER F27 100,EP-IDB,"Iran, Islamic Republic Of Iran National Airlin...",IRN,IRN,Take-off,...,None,F27,NaN,True,2.0,Turboprop,True,"[""F-POST"",""ICE""]",OTH,2008
2,2.0,"""2008-01-03T00:00:00.000Z""",USA,Oklahoma City,PILATUS PC12,N398J,NaN,NaN,USA,Standing,...,Fatal,PC12,False,True,1.0,Turboprop,NaN,"[""RAMP""]",RS,2008
3,3.0,"""2008-01-04T00:00:00.000Z""",VEN,A 20 NM del VOR del Gran Roque,LET L410 UVP,YV2081,Venezuela,VEN,VEN,En route,...,Fatal,L410,NaN,True,2.0,Turboprop,True,"[""SCF-PP""]",SCF,2008
4,4.0,"""2008-01-05T00:00:00.000Z""",USA,Kodiak,PIPER PA31P 350,N509FN,NaN,NaN,USA,Take-off,...,Fatal,PA47,False,True,1.0,Jet,NaN,"[""LOC-I"",""SCF-NP""]",LOC-I,2008

In [38]:
data.tail()

,Unnamed: 0,Date,StateOfOccurrence,Location,Model,Registration,Operator,StateOfOperator,StateOfRegistry,FlightPhase,...,InjuryLevel,TypeDesignator,Helicopter,Airplane,Engines,EngineType,Official,OccCats,Risk,Year
6105,40.0,"""2022-05-06T00:00:00.000Z""",CHL,Santiago-Arturo Merino Benitez Airport (SCL),Beechcraft 200 Super King Air,CC-CDY,NaN,NaN,CHL,Landing,...,NaN,BE20,False,True,2.0,Turboprop,NaN,[],RS,2022
6106,41.0,"""2022-05-11T00:00:00.000Z""",BRA,"Boituva, SP",Cessna 208 Caravan I,PT-OQR,"Skydive4Fun, opf. LBK Serviï¿½o Aï¿½reo Especializado",NaN,BRA,Initial Climb,...,Fatal,C208,False,True,1.0,Turboprop,NaN,[],UNK,2022
6107,42.0,"""2022-05-11T00:00:00.000Z""",CMR,near Nanga Eboko,Viking DHC-6 Twin Otter 400,TJ-TIM,Caverton Helicopters,NaN,CMR,En route,...,Fatal,DHC6,False,True,2.0,Turboprop,NaN,[],LOC-I,2022
6108,43.0,"""2022-05-12T00:00:00.000Z""",CHN,Chongqing-Jiangbei International Airport (CKG),Airbus A319-115 (WL),B-6425,Tibet Airlines,CHN,CHN,Take-off,...,NaN,A319,False,True,2.0,Jet,NaN,[],RS,2022
6109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008

In [39]:
data.shape

(6110, 25)

In [40]:
data.columns

Index(['Unnamed: 0', 'Date', 'StateOfOccurrence', 'Location', 'Model',
       'Registration', 'Operator', 'StateOfOperator', 'StateOfRegistry',
       'FlightPhase', 'Class', 'Fatalities', 'Over2250', 'Over5700',
       'ScheduledCommercial', 'InjuryLevel', 'TypeDesignator', 'Helicopter',
       'Airplane', 'Engines', 'EngineType', 'Official', 'OccCats', 'Risk',
       'Year'],
      dtype='object')

In [41]:
#check data duplicate
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
6105    False
6106    False
6107    False
6108    False
6109    False
Length: 6110, dtype: bool

In [42]:
data.duplicated().sum()

0

In [43]:
data.isnull().sum()

Unnamed: 0                1
Date                      1
StateOfOccurrence       803
Location                352
Model                   244
Registration              1
Operator               1926
StateOfOperator        4719
StateOfRegistry           3
FlightPhase             935
Class                     1
Fatalities             1142
Over2250                  1
Over5700                 25
ScheduledCommercial    2833
InjuryLevel            1956
TypeDesignator            1
Helicopter             1229
Airplane                  1
Engines                   1
EngineType                1
Official               4766
OccCats                   1
Risk                    751
Year                      0
dtype: int64

Check info

In [44]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6110 entries, 0 to 6109
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6109 non-null   float64
 1   Date                 6109 non-null   object
 2   StateOfOccurrence    5307 non-null   object
 3   Location             5758 non-null   object
 4   Model                5866 non-null   object
 5   Registration         6109 non-null   object
 6   Operator             4184 non-null   object
 7   StateOfOperator      1391 non-null   object
 8   StateOfRegistry      6107 non-null   object
 9   FlightPhase          5175 non-null   object
 10  Class                6109 non-null   object
 11  Fatalities           4968 non-null   float64
 12  Over2250             6109 non-null   object
 13  Over5700             6085 non-null   object
 14  ScheduledCommercial  3277 non-null   object
 15  InjuryLevel          4154 non-null   object
 16  TypeDesignator       6109 non-null   object
 17  Helicopter           4881 non-null   object
 18  Airplane             6109 non-null   object
 19  Engines              6109 non-null   float64
 20  EngineType           6109 non-null   object
 21  Official             1344 non-null   object
 22  OccCats              6109 non-null   object
 23  Risk                 5359 non-null   object
 24  Year                 6110 non-null   int64
dtypes: float64(3), int64(1), object(21)
memory usage: 1.2+ MB

In [45]:
data.describe()

        Unnamed: 0   Fatalities      Engines         Year
count  6109.000000  4968.000000  6109.000000  6110.000000
mean    268.898183     2.037641     1.754624  2012.992799
std     210.107085    12.957411     0.685855     3.918712
min       0.000000     0.000000     1.000000  2008.000000
25%     105.000000     0.000000     1.000000  2010.000000
50%     221.000000     0.000000     2.000000  2012.000000
75%     376.000000     0.000000     2.000000  2016.000000
max     931.000000   298.000000     6.000000  2022.000000

In [46]:
data=data[(data['ScheduledCommercial']==True)& (data['Airplane']==True)&(data['EngineType']!='Piston')]

In [47]:
#Drop useless columns 
data=data.drop(columns=['Unnamed: 0','Date','StateOfOccurrence','Location','Model','Registration','Operator','StateOfOperator','StateOfRegistry','Over2250','Over5700','Class','ScheduledCommercial','TypeDesignator','Helicopter','Airplane','Engines','EngineType','Official','OccCats'])

In [48]:
# gives number of unique values each column
data.nunique()

FlightPhase     9
Fatalities     68
InjuryLevel     5
Risk           47
Year           15
dtype: int64

In [49]:
data['Year'].unique()

array([2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019, 2020, 2021, 2022], dtype=int64)

In [50]:
data['Year'].value_counts()

2010    164
2008    148
2011    132
2009    118
2014    118
2013    117
2019    116
2018    115
2015    100
2016     96
2017     96
2012     82
2020     77
2021     17
2022     11
Name: Year, dtype: int64

In [51]:
%pylab
plt.figure(figsize(15,6))
sns.countplot(x='Year' , data=data, palette='hls')
plt.xticks(rotation = 90)
plt.show()

Using matplotlib backend: TkAgg
%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

In [52]:
data['InjuryLevel'].unique()

array(['None', 'Fatal', 'Serious', 'Minor', 'Unknown', nan], dtype=object)

In [53]:
data['InjuryLevel'].value_counts()

None       469
Serious    198
Fatal      168
Minor       62
Unknown     59
Name: InjuryLevel, dtype: int64

In [54]:
%pylab
plt.figure(figsize(15,6))
sns.countplot(x='InjuryLevel' , data=data, palette='hls')
plt.xticks(rotation = 90)
plt.show()

Using matplotlib backend: TkAgg
%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

In [55]:
data['FlightPhase'].unique()

array(['Landing', 'Take-off', 'En route', 'Approach', 'Standing', 'Taxi',
       'Unknown', nan, 'Manoeuvring', 'Initial Climb'], dtype=object)

In [56]:
data['FlightPhase'].value_counts()

Landing          461
En route         199
Taxi             156
Take-off         155
Approach         122
Standing         105
Unknown           30
Initial Climb     17
Manoeuvring        7
Name: FlightPhase, dtype: int64

In [57]:
%pylab
plt.figure(figsize(15,6))
sns.countplot(x='FlightPhase' , data=data, palette='hls')
plt.xticks(rotation = 90)
plt.show()

Using matplotlib backend: TkAgg
%pylab is deprecated, use %matplotlib inline and import the required libraries.
Populating the interactive namespace from numpy and matplotlib

In [58]:
# Use a for loop to create the 'accidents / 1 million flights' column
data_avg = []
for x in data['Year']:
    if x ==2008:
        avg = round((148* 1000000)/26500000,2)
    elif x == 2009: 
        avg = round((118* 1000000)/25900000,2)
    elif x == 2010: 
        avg = round((164 *1000000)/ 27800000,2)
    elif x == 2011: 
        avg = round((132 *1000000)/ 30100000,2)
    elif x == 2012: 
        avg = round((82 *1000000)/ 31200000,2)
    elif x == 2013: 
        avg = round((117 * 1000000)/ 32000000,2)
    elif x == 2014:
        avg = round((118 * 1000000) / 33000000,2)
    elif x == 2015:
        avg = round((100 * 1000000)/ 340000000,2)
    elif x == 2016:
        avg = round((96 *1000000) / 35200000,2)
    elif x == 2017:
        avg = round((96 * 1000000) / 36400000,2)
    elif x == 2018:
        avg = round((115 * 1000000)/ 38100000,2)
    elif x == 2019:
        avg = round((116 * 1000000)/ 38900000,2)
    elif x == 2020:
        avg = round((77 * 1000000)/ 16900000,2)
    elif x == 2021:
        avg = round((17 * 1000000)/ 19300000,2)
    else:
        avg = round((11 * 1000000)/10750000,2)
    data_avg.append(avg)

In [59]:
data_avg

[5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 5.58,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 4.56,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 5.9,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 4.39,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 2.63,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.66,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 3.58,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 0.29,
 2.73,
 2.73,
 2.73,
 2.73,
 2.73,
 2.73,
 2.73,
 2.73,
 2.73,
 2.73,
 2.73,
 2.73,
 2.73,
 2.73,
 2.73,
 2.73,
 2.73,
 2.73,
 2.73,
 2.73,
 2.73,
 ...]

In [60]:
#Create respective column
data['acc/1MillionFlights']=data_avg

In [61]:
#Create respective column#check injury level valuesdata['acc/1MillionFlights']=data_avg
data['InjuryLevel'].isnull().sum()

551

In [62]:
#checl nulls on injury level column
data['InjuryLevel'].fillna('unknown',inplace=True)

In [63]:
#Create a list to classify  injury level column in only two categories
il_update=[]
for x in data['InjuryLevel']:
    if x in ['Serious','Fatal']:
        x='Serious/Fatal'
    else:
        x='Minor/None'
    il_update.append(x)

In [64]:
# update injury level column  for only two categories
data['InjuryLevel']=il_update

In [65]:
#apply lambda to transform in numerics (binary)
data['InjuryLevel']=data['InjuryLevel'].apply(lambda x: 1 if x=='Serious/Fatal' else 0)

In [66]:
#rename it to serius fatal column
data["Serious/Fatal"]=data['InjuryLevel']

In [67]:
data

,FlightPhase,Fatalities,InjuryLevel,Risk,Year,acc/1MillionFlights,Serious/Fatal
0,Landing,0.0,0,RS,2008,5.58,0
1,Take-off,0.0,0,OTH,2008,5.58,0
3,En route,14.0,1,SCF,2008,5.58,1
7,Approach,0.0,0,SCF,2008,5.58,0
8,Standing,0.0,0,RS,2008,5.58,0
...,...,...,...,...,...,...,...
6093,En route,132.0,1,LOC-I,2022,1.02,1
6098,Landing,0.0,0,RS,2022,1.02,0
6100,Take-off,0.0,0,RS,2022,1.02,0
6104,Landing,0.0,0,RS,2022,1.02,0
6108,Take-off,0.0,0,RS,2022,1.02,0

In [68]:
data.drop(columns=['InjuryLevel'],inplace=True)data.drop(columns=['InjuryLevel'],inplace=True)

SyntaxError: invalid syntax (1333356100.py, line 1)

In [69]:
data.head()

,FlightPhase,Fatalities,InjuryLevel,Risk,Year,acc/1MillionFlights,Serious/Fatal
0,Landing,0.0,0,RS,2008,5.58,0
1,Take-off,0.0,0,OTH,2008,5.58,0
3,En route,14.0,1,SCF,2008,5.58,1
7,Approach,0.0,0,SCF,2008,5.58,0
8,Standing,0.0,0,RS,2008,5.58,0

In [70]:
data.drop(columns=['Fatalities'],inplace=True)

In [71]:
data['FlightPhase'].fillna('Unknown',inplace=True)

In [72]:
data['FlightPhase'].isnull().sum()

0

In [73]:
data['FlightPhase'].value_counts().head()

Landing     461
Unknown     285
En route    199
Taxi        156
Take-off    155
Name: FlightPhase, dtype: int64

In [74]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix

In [77]:
#apply label encoder to convert flight phase column to numerics 
labencoder=LabelEncoder()
labencoder.fit(data['FlightPhase'])

LabelEncoder()

In [78]:
data['FlightPhase']=labencoder.fit_transform(data['FlightPhase'])

In [79]:
labencoder.classes_

array(['Approach', 'En route', 'Initial Climb', 'Landing', 'Manoeuvring',
       'Standing', 'Take-off', 'Taxi', 'Unknown'], dtype=object)

In [80]:
labencoder=LabelEncoder()
labencoder.fit(data['Risk'])

LabelEncoder()

In [81]:
data['Risk']=labencoder.fit_transform(data['Risk'])

In [82]:
col=['Year','FlightPhase','Risk','Serious/Fatal','acc/1MillionFlights']

In [83]:
data= data.loc[:,col]

In [84]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1507 entries, 0 to 6108
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 1507 non-null   int64
 1   FlightPhase          1507 non-null   int32
 2   Risk                 1507 non-null   int32
 3   Serious/Fatal        1507 non-null   int64
 4   acc/1MillionFlights  1507 non-null   float64
dtypes: float64(1), int32(2), int64(2)
memory usage: 58.9 KB

In [85]:
#check if there is null
data.isnull().sum()

Year                   0
FlightPhase            0
Risk                   0
Serious/Fatal          0
acc/1MillionFlights    0
dtype: int64

MODELLING

In [86]:
#Create X and Y
x=data.drop(columns=['Serious/Fatal'])
y=data['Serious/Fatal']

In [87]:
#split train-test variables
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [88]:
#check X_train
x_train.shape

(1205, 4)

In [89]:
#check Y_train
y_train.shape

(1205,)

In [90]:
x_train.head()

      Year  FlightPhase  Risk  acc/1MillionFlights
3071  2012            1    31                 2.63
4032  2015            7    30                 0.29
3083  2012            4    30                 2.63
4087  2015            7     6                 0.29
4891  2017            1    30                 2.64

In [91]:
y_train

3071    0
4032    0
3083    0
4087    0
4891    0
       ..
4919    0
5392    0
3906    0
5840    0
4912    0
Name: Serious/Fatal, Length: 1205, dtype: int64

In [92]:
st_x=StandardScaler()
x_train=st_x.fit_transform(x_train)
x_test=st_x.fit_transform(x_test)

In [93]:
classifier=LogisticRegression(random_state=0)
classifier.fit(x_train,y_train)

LogisticRegression(random_state=0)

In [94]:
y_pred=classifier.predict(x_test)

In [95]:
print(classifier.score(x_train,y_train))

0.7858921161825726

In [96]:
print(classifier.score(x_test,y_test))

0.7748344370860927

In [97]:
print(classifier.score(x_test,y_pred))

1.0

In [98]:
cm=confusion_matrix(y_test,y_pred)

In [99]:
print(cm)

[[209  10]
 [ 58  25]]

In [100]:
classifier_dt=DecisionTreeClassifier(criterion='entropy',random_state=0)
classifier_dt.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [101]:
y_pred=classifier_dt.predict(x_test)

In [102]:
print(classifier_dt.score(x_train,y_train))

0.9236514522821577

In [103]:
print(classifier_dt.score(x_test,y_test))

0.8509933774834437

In [104]:
print(classifier_dt.score(x_test,y_pred))

1.0

In [105]:
cm=confusion_matrix(y_test,y_pred)

In [106]:
print(cm)

[[204  15]
 [ 30  53]]